.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 40px;
 
}

.center {
    
    border-radius: 50%;
    display:  block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
   }


   .border-box {
    padding: 10px; 
    width: 400px;
    height: 600px;
    border: 2px solid blue;
  
   }


   .hashtags {
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       padding: 20px;
   
      
     }   


   .button-style {
       display: flex;
       flex-direction: column;
       padding: 20px 40px;
       margin: 0%;
       border-radius: 4px
       
   }

